site_name: GoHighLevel Docs
nav:
  - Home: index.md
  - Automations:
    - Agents:
      - Lead Won: automations\agents\lead-won.md
    - Campaigns:
      - Agents:
        - First Contact: automations\campaigns\agents\first-contact.md
theme:
  name: material
  palette:
    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light Mode
      primary: deep orange
      accent: purple
    # Dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark Mode
      primary: deep orange
      accent: purple
  
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details